<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Add book Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	<h3 style="margin-bottom: 20px">Here you can read books about survival that may be of interest to you.</h3>
		<form action="/bookList" class="form-inline">
			<div class="form-group mb-2" >
				<input type="text" class="form-control" name="name"
					placeholder="Search book" /> <input type="submit" value="Search"
					class="btn btn-primary" />
			</div>
		</form>
		<div class="card">
			<div class="card card-body">
				<ul th:each="books:${book}" style="list-style: none; padding-left: 10px;">
					<li><b>Topic:</b> <span th:text="${books.topic}"></span></li>
					<li><b>Description:</b><p th:text="${books.description}"></p></li>
					<li><b>Link:</b> <span th:text="${books.link}"></span></li>
					<br>
					<button class="btn btn-primary" th:href="'/bookList/' + ${books.id} + '/bookUpdate'">Edit</button>
					<hr>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>