<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>
	<div layout:fragment="content" class="container mySpace">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h3>Login with:</h3>
					<p th:each="url : ${urls}">
						<a th:text="${url.key}" th:href="${url.value}">Client</a>
					</p>
					<a class="btn btn-block btn-social btn-google"
						href="/oauth2/authorization/google"><span
						class="fab fa-google"></span> Sign in with Google</a>
				</div>
			</div>
		</div>
		<p>
			<a href="/" th:href="@{/}">Back to home page</a>
		</p>
	</div>
</body>
</html>