<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">

<head>
<title>Test Page</title>
<script type="text/javascript" th:src="@{scripts/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/buttonClick.js}"
	src="js/buttonClick.js"></script>
</head>

<body
	style="background: linear-gradient(0.25turn, #ADFF2F, #ebf8e1, #7FFFD4);">
	<div layout:fragment="content">
		<div id="replacingContent">
			<div class="quest">
				<div class="card"
					style="padding: 30px; background: rgba(140, 240, 235, 0.24);">
					<span th:text="${question.text}" th:value=${question.id}
						style="padding-bottom: 20px"></span>

					<form th:action="@{/test}" class="asw">
						<th:block th:each="answer:${answers}">
							<input type="radio" name="answers" th:value=${answer.id}
								th:text=${answer.text} class="asw">
							<br>
						</th:block>

					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>