.mySpace {
	padding-top: 20px;
}

.head {
	font-size: 15px;
}

.allhead {
	background-color: rgba(0, 0, 0, .55);
}

.but {
	
}

.mai {
	display: inline-block;
	padding-top: 0.324219rem;
	padding-bottom: 0.324219rem;
	margin-right: 1rem;
	line-height: inherit;
	white-space: nowrap;
	font-size: 25px;
	color: white;
}

.mai:hover {
	color: aqua;
	text-decoration: none;
}

.asw {
	margin: 10px 10px 10px 0px;
	font-size: 20px;
}

.quest {
	padding: 30px 80px 0px 80px;
	font-size: 20px;
}

.radios {
	margin-top: 20px;
}

.form-check {
	padding: 20px;
}

.about {
	text-align: center;
}

.foot {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}

.bat {
	padding: 20px;
}

.block1 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	text-shadow: 1px 2px 2px black, 0 0 2em black;
}

.block2 {
	text-align: center;
	text-shadow: 1px 2px 2px black, 0 0 2em black;
	margin-top: 40px;
}

hr {
	font-size: 3px;
}

b{
	font-size: 18px;
}

.aboutTest {
	text-align: center;
	margin: 30px;
	padding-left: 300px;
	padding-right: 300px;
	font-family: serif;
} 
